@import '../../../styles/variables';

.Category {
  position: relative;
  display: block;
  color: $green-dark;
  font-size: $small-font-size;
  transition: all 300ms ease-out;
  cursor: pointer;

  // 1300px
  @media only screen and (max-width: 81.25em) {
    font-size: $normal-font-size;
  }
  
  // 600px
  @media only screen and (max-width: 37.5em) {
    font-size: $medium-font-size;
  }
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 2px;
    background: $gray-dark;
    transition: all 300ms ease-out;
  }

  &:hover::before {
    width: 100%;
  }

  &_active {
    color: $pink-light;
    cursor: initial;

    &::before {
      display: none;
    }
  }
}