.ListItems {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 35rem));
  grid-gap: 1.5rem;
  justify-content: space-evenly;
  align-content: center;
  transition: all 200ms ease-out;
  
  // 1300px
  @media only screen and (max-width: 81.25em) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));    
  }
  
  // 1000px
  @media only screen and (max-width: 62.5em) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 45rem));    
  }
  
  // 800px
  @media only screen and (max-width: 50em) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));        
  }
  
  // 600px
  @media only screen and (max-width: 37.5em) {
    grid-template-columns: repeat(2, 50%);
  }
  
  // 500px
  @media only screen and (max-width: 31.25em) {
    grid-template-columns: 100%;
  }
}